# .gitignore 파일은 무시하고 싶은 파일 이름을 기록하는 파일!
#  맥OS 혹은 윈도우의 경우 보이지 않는 임시파일이 있는데, 이는 github desktop 에서 .DS_Store라는 폴더로 보임
#  파일을 업로드 할때마다 이 임시 파일이 생기는데 사실 github 자체가 임시 파일이고 모든게 저장되므로 필요없음.
#  따라서 이 파일을 github에 업로드 하고 싶지 않으므로 그럴때는 커밋을 올릴때 해당 파일을 체크하지 말고 올리면된다.
#  하지만 문제는 무언가 파일을 만들때마다 모든 커밋에서 이 파일을 업로드 하고 싶지 않다고 체크해야하는데 매우 귀찮으므로
#  이떄 쓰는게 바로 이 .gitignore 파일!

.DS_Store