/* navigation bar css를 별도로 만들어 줄 건데,
중요한 건, style.css에 현재 파일을 import해줘야 사용할 수 있다는 것 반드시 기억하기! 
@import "components/nav-bar.css" */

.nav {
  background-color: #f9f9fa;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  position: fixed;
  bottom: 0;
  /* position은 고정인데, bottom값이 0이다 -> 0 즉, 값이 밑에서 0이므로 가장 밑에 위치 */
  width: 100%;
  /* 
  position: fixed 후 bottom:0으로 위치를 저장한뒤 새로고침하면 width값이 없어져버림. 

  좀 더 자세하게 왜 position:fixed 시에 width 설정하는지!!
  (https://velog.io/@apro_xo/CSS-position%EA%B0%92%EC%97%90-%EB%94%B0%EB%A5%B8-width-height-%EA%B0%92-%EC%84%A4%EC%A0%95)
  : fixed는 absolute와 동일하게 block 요소의 width가 content에 맞게 변화되므로 
    적절한 width를 지정하여야 한다. 
    즉, 설정하지 않으면 아이콘의 크기로 변하기 때문에 서로 모이고 + 설정한 패딩 값 만큼의 크기로 줄어드는 것
  */

  padding: 20px 40px;
  /* 추가로, width:100%했을때 아이콘 일부가 사라지는 경우에는 padding값 때문임! 
    이를 조정하기 위해! box-sizing 추가! */
  box-sizing: border-box;
  /* box-sizing을 알아보기 전에 navigaiton이 아래에 위치하는지 보기 위해 
  style.css에서 Body에 엄청 긴 높이값 줘보기 -> 잘 붙어있음, 그렇다면 status-bar도 위에 붙어있어야 하므로 고정해주기*/

  /* 본격적으로 box-sizng! 
   우선 css box 모델의 기본값부터 알아보면,
   
   내가 200px의 width를 준 박스가 있다고 치면, css는 200을 유지하려고함.
   padding값을 50px주면 안에 contents가 들어갈 공간은 150px이지만, 총 200px.
   하지만 css는 이 50px이 공간을 쓰지 못하므로 옆으로 50px을 더 늘리려고 할 것
   -> 그래서 우리가 width:100% 하니까 옆으로 늘어나서 아이콘이 사라진것 (padding값만큼 늘어나서)

   width를 100% 적용했었음! 스크린의 width 100%차지하게끔 
   게다가 padding값까지 줬음! 그래서 CSS는 내가 padding을 줘도 신경쓰지 않도록 정해준 것

  */
}
/* 아이콘의 크기 조정 위해서 font awesome에서 폰트 사이즈 몇가지 있는지 확인 
현재 아이콘이 조금 작으므로 좀 더 커야하므로 css가 아 니라 html에서 사이즈 변경해주기 fa-lg -> fa-2x */
/* navigation bar위치는 아래에 와야하지만 나중에하고 우선 icon부터! */
.nav__list {
  display: flex;
  /* navigation 안의 box들이 서로 옆으로 있어야 하므로 부모에 flex 
    nav__btn에 하지 않는 이유는, a 는 inline이므로! 해당 인라인을 갖고 있는 li를 옮겨야함 */
  justify-content: space-between;
}
/* .nav__link {
    color: inherit;
    --> icon이 링크(a)이므로 default값이 파란색임. 
        이걸 변경해주기 위해 .nav__link에 스타일 주려 했으나 여기서 하지 않아도 괜찮음!
        rest.css파일에 가서 공통으로 a에 스타일을 적용해주면 되기 때문

        하지만, 사진의 아이콘 색상이 inherit색상의 검정이 아니기 때문에 별도로 줄 것
} */
.nav__link {
  color: #2f363e;
  position: relative;
  /* 메세지박스 위의 숫자 아이콘 위해 추가! */
}
/* 그럼 이제 navigation bar를 아래로 옮겨보자! */
/* 
이거에 대해 강의를 했었는데, 내가 원하는 곳에 무언가가 계속 있기를 바란다면 뭘 썼었는지?
-> 바로 position:fixed! 이제 위에다가 코드 써보기!
*/

.nav__notification {
  background-color: tomato;
  /* text-decoration: none; => reset에 설정 */
  width: 20px;
  height: 20px;
  /* width와 height를 사용하면 적용되지 않을 것인데, 그 이유는 span은 inline이기 때문!
  ==> 따라서 block해줘야함 
  ==> 하지만, 1을 원 가운데에 오게하기 위해서는 flex를 해줘야하므로 block말고 flex로!*/
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  /* 이제 메세지 아이콘의 오른쪽 위에 위치해야하므로 position: absolute! 
  하지만 이 상태에서 그냥 right: 5px 하면 body기준으로 가버림! 
  ==> 부모 요소에 relative 없기 때문 */
  position: absolute;
  left: 20px;
  /* top: -15px; 혹은 bottom:15px */
  bottom: 15px;
}

.nav__redellipsis {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 15px;
  display: flex;
  position: absolute;
  left: 25px;
}

/* 이렇게 navigation부분은 끝! 지금 만든 이 navigation은 다른 곳에도 동일하게 사용가능! */
